.impwrapper{
    /*background-color: rgb(136, 20, 79);*/
    background-color: black;
    padding: 3%;
    margin-top: 130px;
    margin-bottom: 200px;
    border-radius: 3px;
}

.impressum p {
    color: white;
    background-color: black;
    margin: 1%;
    padding: 0 15%;
    border-radius: 3px;
    text-align: left;
    font-size: 20px;
} 

@media only screen and (max-width: 914px){
    .impwrapper{
        margin-top: 150px; 
        margin-bottom: 0;
    }
    .impressum p{
        padding: 0 5%;
    }
}